<div class="content">
  <div class="title">
    <h2>Zmiana hasła</h2>
  </div>

  <div class="fields">
    <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
      <div class="new-password">
        <input type="{{ passwordVisibly ? 'text' : 'password' }}"
               [(ngModel)]="newPassword"
               placeholder="Nowe hasło"
               name="newPassword"
               required
        />

      </div>

      <div class="confirm-password">
        <input type="{{ passwordVisibly ? 'text' : 'password' }}"
               [(ngModel)]="confirmPassword"
               placeholder="Powtórz hasło"
               name="confirmPassword"
               required
        />
      </div>

      <div class="buttons">
        <button class="show-password-button" type="button" (click)="togglePasswordVisibility()">
          {{ passwordVisibly ? 'Ukryj hasło' : 'Pokaż hasło' }}
        </button>
        <button type="submit" class="save" [disabled]="newPassword !== confirmPassword || passwordForm.invalid">Zapisz</button>
        <button type="button" class="cancel" (click)="closePanel()">Anuluj</button>
      </div>
    </form>
  </div>
</div>
