.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 10px;
  width: 90%;
}

button {
  color: #FFFFFF;
  margin-bottom: 10px;
  padding: 10px 105px;
  border-radius: 10px;
  border: none;
}

.save {
  background-color: #28B1B7;
}

.cancel {
  background-color: #E63946;
}

.show-password-button {
  background-color: #a5a5a5;
}
