<ng-container *ngIf="!sentEmail; else info">
  <div class="container">
    <div class="content">
      <div class="header">
        <h1>Przypomnij hasło</h1>
        <p>Nie martw się, jeżeli zapomniałeś hasła. Podaj swój e-mail poniżej i postępuj zgodnie z instrukcjami!</p>
      </div>
      <div class="input-password">
        <input type="text" [(ngModel)]="email" placeholder="E-mail" required />
      </div>
      <div class="button-send">
        <button type="button" (click)="send()">Wyślij</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #info>
  <div class="container-success">
    <div class="header-success">
      <h1>Sukces!</h1>
      <p>Pomyślnie wysłano link do resetowania hasła na adres email.</p>
    </div>
  </div>
</ng-template>
