<div class="header">
  <h1>Wprowadź nowe hasło</h1>
  <p>Wpisz nowe hasło i wyślij, aby zeresetować hasło!</p>
</div>

<div class="content">
  <form (ngSubmit)="resetPassword()">
    <input type="{{ passwordVisible ? 'text' : 'password'}}"
           [(ngModel)]="password"
           name="password"
           placeholder="Wprowadź nowe hasło"
           required
    />

    <input type="{{ passwordVisible ? 'text' : 'password'}}"
           [(ngModel)]="repeatPassword"
           name="repeatPassword"
           placeholder="Powtórz hasło"
           required
    />

    <button type="button" (click)="togglePasswordVisibility()">
      {{ passwordVisible ? 'Ukryj hasło' : 'Pokaż hasło'}}
    </button>

    <button type="submit">Wyślij</button>
  </form>
</div>
