
<div class="container">
  <header class="logo">FluentWeb</header>
  <main class="content">
    <img src="/hello_picture.png" alt="hello_picture" class="image">
    <div class="text-box">
      <h2 class="description">Ucz się języków i spełniaj swoje cele. Dołącz do nas już dziś!</h2>
      <button type="button" id="button-register-home" [routerLink]="['/auth/register']">Rozpocznij</button>
      <button type="button" id="button-login-home" [routerLink]="['/auth/login']">Zaloguj się</button>
    </div>
  </main>
  <footer class="footer"><p>© 2025 FluentWeb. Wszelkie prawa zastrzeżone.</p></footer>
</div>
